/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  font-family: 'Lato', sans-serif;
}

// - - - - - - - - - - - - - Navbar - - - - - - - - - - - - - //

.navbar {
  border: 1px solid transparent;
  background-color: white;
  padding-top: 50px;
  margin-bottom: 50px;
  .navbar-brand {
    img {
      width: 100px;
      margin-top: -3px;
    }
  }
  .btn {
    margin-left: 10px;
    background-color: #2b9cf2;
    border: 1px solid transparent;
  }
}

// - - - - - - - - - - - - - Sign up - - - - - - - - - - - - - //

#sign_up {
  h1 {
    font-size: 40px;
  }
  .signup-form {
    max-width: 400px;
    margin: 0 auto;
    .form-control {
      height: 52px;
    }
    .btn {
      padding-top: 15px;
      padding-bottom: 15px;
      background-color: #2b9cf2;
      border: 1px solid transparent;
    }
    .field {
      margin-bottom: 20px;
    }
  }
  @media (min-width: 768px) {
    .v-center {
      display: flex;
      align-items: center;
    }
  }
  @media only screen and (max-width: 768px) {
    h1 {
      font-size: 2.8rem;
    }
    .container {
      padding: 0 5%;
      max-width: 480px;
      width: 100%;
    }
    .signup-tos {
      text-align: center;
    }
  }
}
